*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #edeeed;
}
.drops{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drop{
    position: absolute;
    width: 150px;
    height: 150px;
    background: transparent;
    border-radius: 51% 49% 62% 38% / 48% 48% 52% 52%;
    box-shadow: inset 10px 10px 10px rgba(0,0,0,0.05),
    15px 25px 10px rgba(0,0,0,0.1),
    15px 20px 20px rgba(0,0,0,0.05),
    inset -10px -10px 15px rgba(255,255,255,0.9);
}
.drop::before{
    content: ' ';
    position: absolute;
    top: 25px;
    left: 35px;
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 62% 38% 41% 59% / 40% 59% 41% 60%;
}
.drop::after{
    content: ' ';
    position: absolute;
    top: 25px;
    left: 65px;
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 62% 38% 48% 52% / 59% 38% 62% 41%;
}
.drop:nth-child(2){
    transform: scale(0.5) translate(-200px,180px);
    border-radius: 58% 42% 48% 52% / 59% 49% 51% 41%;
}
.drop:nth-child(3){
    transform: scale(0.5) translate(280px,10px);
    border-radius: 58% 42% 37% 63% / 41% 63% 37% 59%;
}
.drop:nth-child(4){
    transform: scale(0.35) translate(120px,-350px);
    border-radius: 51% 49% 68% 32% / 67% 58% 42% 33%;
}